# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/__pycache__
/RLVenv
/Algorithms/__pycache__
/EnvironmentWrappers/__pycache__
saved_agent
/OC_Atari_Files/__pycache__
/videos_first